body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

div label {
    vertical-align: middle;
}

div input {
    vertical-align: middle;
}

input[type=range] {
    -webkit-appearance: none;
    background-image: linear-gradient(to right, rgb(0, 129, 158), rgb(132, 237, 255));
    border-radius: 5%;
    border: 3px solid;
    border-color: rgb(52, 103, 180);
    width: 20vw;
    height:10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #ffffff;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #ffffff;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    border-color: rgb(59,173,227);
}

input[type=range]::-webkit-range-thumb {
    border-color: rgb(59,173,227);
}

button {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    border-radius: 10%;
    padding: 7.5px 15px 7.5px 15px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.33), 
                2px 2px 2px rgba(0,0,0,0.33),
                4px 4px 4px rgba(0,0,0,0.33)
}

select {
    font-family: inherit;
    background-color: #ffffff;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 10vw;
    padding: 5px;
    height: 30px;
    border-radius: 10%;
    transition: background 0.2s;
}

select:hover {
    background-color: #d4d4d4;
}

select:focus {
    background-color: #ffffff;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #d4d4d4 radial-gradient(circle, transparent 1%, #d4d4d4 1%) center/15000%;
}

.ripple:active {
    background-color: #ffffff;
    background-size: 100%;
    transition: background 0s;
}

#visualization-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

#list-visualization {
    position: relative;
    height: 65vh;
    width: 100%;
    background-color: clear;
}

#visualization-controls {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5%;
}

#visualization-controls > div {
    display: table-cell;
    vertical-align: middle;
}

.list-bar {
    position: absolute;
    padding-right: 0.25px;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(240, 187, 255), rgb(122, 0, 107));
}

.site-header {
    width: 100%;
    padding: 5px;
    padding-right: 0px;
    color: white;
    background-color: hsl(212, 100%, 50%);
}

.site-header > h1 {
    margin-left: 10px;
}

.site-footer {
    height: auto;
    width: 100%;
    bottom: 0;
    align-items: center;
    position: absolute;
    color: white;
    background-color: hsl(212, 100%, 50%);
}