#visualization-container {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#list-visualization {
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: clear;
}

.list-bar {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(150, 255, 150), green);
}